
<header>
  <div class="image">
    <img src="/src/assets/img/header1.png" alt="header">
  </div>
  <div class="text-over">
    <div class="menu">
      <div class="line"></div>
      <div class="menu-item about"><a pageScroll [pageScrollDuration]="500" href="#about">ABOUT ME</a></div>
      <div class="menu-item"><a pageScroll [pageScrollDuration]="700" href="#what-i-do">WHAT I DO</a></div>
      <div class="menu-item"><a pageScroll [pageScrollDuration]="1000" href="#my-works">MY WORKS</a></div>
      <div class="menu-item"><a pageScroll [pageScrollDuration]="1200" href="#skills">SKILLS</a></div>
      <div class="line"></div>
    </div>
    <div class="quote">
      Pleasure in the job puts perfection in the work
    </div>
    <div class="hire-me">
      HIRE ME.
    </div>
    <div class="line white"></div>
    <div class="send-message">
      <a href="mailto:ururruu@gmail.com?subject=portfolio">
        <div class="btn transparent">SEND MESSAGE</div>
      </a>
    </div>
  </div>
</header>
<div class="main-content container">
  <div class="about animate" id="about">
    <div class="photo">
      <img src="/src/assets/img/profile-img.jpg" alt="profile-img" class="profile-photo">
    </div>
    <div class="name">Kateryna Dubinina</div>
    <div class="position default-text">front-end developer</div>
    <div class="location">
      <div class="icon">
        <img src="/src/assets/icons/location.png" alt="">
      </div>
      <div class="place default-text">In Kyiv, Ukraine</div>
    </div>
  </div>
  <div class="what-i-do container" id="what-i-do">
    <div class="title">What I do</div>
    <div class="text default-text">There are many variations of passages of Lorem Ipsum are many variations of passages of Lorem Ipsum.</div>
    <div class="propositions">
      <div class="proposition animated" *ngFor="let proposition of propositions"  animateOnScroll animationName="slideDown">
        <div class="circle">
          <img class="icon" [src]="'/src/assets/icons/'+proposition.icon" alt="">
        </div>
        <div class="description">
          <div class="proposition-title">{{proposition.title}}</div>
          <div class="line black"></div>
          <div class="proposition-description default-text">{{proposition.description}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="wave">
    <div class="smallLine smallLine1"></div>
    <div class="smallLine smallLine2"></div>
  </div>
  <div class="my-works" id="my-works">
    <div class="title">Last works</div>
    <div class="wrapper">
      <div *ngFor="let project of projects" [ngClass]="[project.class, 'item']" (mouseover)="project.descriptionShow=true" (mouseleave)="project.descriptionShow=false">
        <a [href]=project.link target="_blank">
          <div class="work-title" *ngIf="!project.descriptionShow">{{project.name}}</div>
          <div class="work-description" *ngIf="project.descriptionShow">
            <div class="main-description" [innerHTML]="project.mainDescription"> </div>
            <div class="extra-description" [innerHTML]="project.extraDescription"></div>
            <div class="done" [innerHTML]="project.done"></div>
            <div class="technologies">
              <img class="technology" *ngFor="let technology of project.technologies" [src]="'/src/assets/icons/'+technology.icon+'.png'" alt="" [title]=technology.title>
            </div>
            <div class="click"><a [href]=project.link target="_blank">Click to follow the link</a></div>
          </div>
        </a>
      </div>
    </div>




    <div class="portfolio">
      <table cellspacing="0" cellpadding="0" style="display: none; border: none; border-spacing: 0;">
        <tr>
          <td rowspan="2" style="width:40%;">
            <!--<img src="/assets/img/kortx.png" alt="" style="width: 100%;">-->
          </td>
          <td rowspan="2" style="width:40%; background-image: url('../img/crazyfatburn.png')">
            <!--<img src="../img/crazyfatburn.png" alt="" style="width: 100%;">-->
          </td>
          <td style="width:20%; background-image: url('../img/leaflux.png')">
            <!--<img src="../img/leaflux.png" alt="" style="width: 100%;">-->
          </td>
        </tr>
        <tr>
          <td style="background-image: url('../img/yarandin.png')">
            <!--<img src="../img/yarandin.png" alt="" style="width: 100%;">-->
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="knowledges" id="skills">
    <div class="title">My skills and technologies I use</div>
    <div class="cloud">
      <div class="tags">
        <svg id="tagi" class="svg-element" x="0px" y="0px" viewBox="0 0 700 350">
          <text transform="matrix(1 0 0 1 120 115)" class="svg-text st5 st28 st15">JIRA</text>
          <text transform="matrix(1 0 0 1 90 145)" class="svg-text st5 st28 st14">Mercurial</text>
          <text transform="rotate(-90 185 -40)" class="svg-text st5 st28 st24">Photoshop</text>
          <text transform="matrix(1 0 0 1 240 30)" class="svg-text st5 st28 st7">OOP</text>
          <text transform="matrix(1 0 0 1 240 50)" class="svg-text st5 st28 st30">Javascript</text>
          <text id="XMLID_2_" transform="matrix(1 0 0 1 235 100)" class="svg-text st17 st8">SCSS</text>
          <text transform="matrix(1 0 0 1 425 75)" class="svg-text st5 st28 st6">ES6</text>
          <text transform="matrix(1 0 0 1 400 100)" class="svg-text st5 st28 st27">Websockets</text>
          <text transform="matrix(1 0 0 1 250 145)" class="svg-text st17 st29">PIXEL PERFECT</text>
          <text transform="matrix(1 0 0 1 0 205)" class="svg-text st5 st17 st22">LESS</text>
          <text transform="matrix(1 0 0 1 140 185)" class="svg-text st5 st28 st25">HTML5</text>
          <text transform="matrix(1 0 0 1 140 205)" class="svg-text st5 st28 st18">Canvas</text>
          <text transform="matrix(1 0 0 1 605 170)" class="svg-text st5 st28 st1">easy redmine</text>
          <text transform="matrix(1 0 0 1 605 207)" class="svg-text st17 st20">CSS3</text>
          <text transform="matrix(1 0 0 1 0 245)" class="svg-text st5 st28 st26">ENGLISH ENTERMEDIATE</text>
          <text transform="rotate(90 39 265)" class="svg-text st5 st17 st31">Bootstrap</text>
          <text transform="matrix(1 0 0 1 220 207)" class="svg-text st17 st2">AngularJS</text>
          <text transform="matrix(1 0 0 1 350 275)" class="svg-text st17 st0">jQuery</text>
          <text transform="matrix(1 0 0 1 135 315)" class="svg-text st17 st9">GIT</text>
          <text transform="matrix(1 0 0 1 415 316)" class="svg-text st5 st28 st23">GULP</text>
        </svg>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="contacts" id="talk-to-me">
      <div class="propositions">
        <div class="proposition" *ngFor="let contact of contacts">
          <a [href]=contact.link class="social-btn">
            <div class="circle">
              <img class="icon" [src]="'/src/assets/icons/'+contact.icon" [alt]="contact.icon">
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
