@import url("https://fonts.googleapis.com/css?family=Cabin|Mukta");
* {
  font-family: "Mukta", sans-serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a {
  text-decoration: none;
}

.default-text {
  color: #535353;
}

.line {
  display: none;
}

@media (min-width: 820px) {
  .line {
    width: 45px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    display: inline-block;
  }
  .line.white {
    border-top: 2px solid white;
  }
  .line.black {
    border-top: 2px solid #1e1e1e;
  }
}

.wave {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 8px;
  background-color: white;
}

.wave .smallLine {
  position: absolute;
  width: 100%;
  height: 5px;
}

.wave .smallLine1 {
  background: linear-gradient(45deg, transparent, transparent 49%, #26c0a5 49%, transparent 51%);
}

.wave .smallLine2 {
  background: linear-gradient(-45deg, transparent, transparent 49%, #26c0a5 49%, transparent 51%);
}

.wave .smallLine {
  background-size: 10px 10px;
}

.title {
  color: #42dabf;
  font-size: 20px;
  text-align: center;
}

@media (min-width: 820px) {
  .title {
    font-size: 40px;
  }
}

.text {
  margin-top: 10px;
  font-size: 16px;
}

@media (min-width: 820px) {
  .text {
    font-size: 20px;
  }
}

.btn {
  display: inline-block;
  padding: 10px 25px;
  cursor: pointer;
}

.btn.transparent {
  color: white;
  border: 1px solid white;
}

.btn.transparent:hover {
  color: #d0f9f2;
  background-color: rgba(255, 255, 255, 0.2);
}

header {
  position: relative;
  background-color: #7c7e7e;
  height: 100vh;
  width: 100%;
}

header .image {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

header .image img {
  width: 100%;
  height: 100vh;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

header .text-over {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: "Cabin", sans-serif;
}

header .text-over .menu {
  margin-top: 10vh;
  position: relative;
}

header .text-over .menu div {
  display: inline-block;
}

header .text-over .menu a {
  color: white;
}

header .text-over .menu .menu-item {
  font-size: 19px;
  position: relative;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

@media (min-width: 820px) {
  header .text-over .menu .menu-item {
    margin-right: 50px;
    font-size: 24px;
  }
}

header .text-over .menu .menu-item:hover {
  color: #d0f9f2;
}

header .text-over .menu .menu-item:last-child {
  margin-right: 0;
}

header .text-over .quote {
  color: #42dabf;
  font-size: 20px;
  padding: 0 15px;
  margin-top: 15vh;
}

@media (min-width: 820px) {
  header .text-over .quote {
    font-size: 50px;
  }
}

header .text-over .hire-me {
  margin-top: 10vh;
  font-size: 25px;
  color: white;
  margin-bottom: 3vh;
}

header .text-over .send-message {
  margin-top: 4vh;
}

.main-content .about {
  position: relative;
  background-color: #f3f3f3;
  text-align: center;
  padding: 70px 20px;
}

.main-content .about .photo .profile-photo {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.main-content .about .name {
  color: #26c0a5;
  font-family: "Cabin", sans-serif;
  font-size: 28px;
  margin-top: 16px;
}

@media (min-width: 820px) {
  .main-content .about .name {
    font-size: 40px;
    margin-top: 50px;
  }
}

.main-content .about .position {
  font-size: 20px;
  margin-top: 4px;
}

@media (min-width: 820px) {
  .main-content .about .position {
    margin-top: 20px;
  }
}

.main-content .about .location {
  margin-top: 20px;
}

@media (min-width: 820px) {
  .main-content .about .location {
    margin-top: 50px;
  }
}

.main-content .about .location .icon {
  display: inline-block;
}

.main-content .about .location .place {
  font-size: 16px;
}

.main-content .what-i-do {
  text-align: center;
  padding: 50px 15px;
  position: relative;
  background-color: white;
}

@media (min-width: 820px) {
  .main-content .what-i-do {
    padding: 100px 20px;
  }
}

@media (min-width: 820px) {
  .main-content .what-i-do .propositions {
    margin-top: 55px;
  }
}

.main-content .what-i-do .propositions .proposition {
  margin-top: 40px;
}

@media (min-width: 820px) {
  .main-content .what-i-do .propositions .proposition {
    margin-top: 0;
    margin-right: 20px;
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  .main-content .what-i-do .propositions .proposition {
    margin-right: 200px;
  }
}

.main-content .what-i-do .propositions .proposition:last-child {
  margin-right: 0;
}

.main-content .what-i-do .propositions .proposition .circle {
  max-width: 55px;
  margin: auto;
  border-radius: 50%;
  background-color: #7ae6c6;
  padding: 80px 90px;
  position: relative;
}

@media (min-width: 820px) {
  .main-content .what-i-do .propositions .proposition .circle {
    max-width: unset;
    margin: unset;
  }
}

.main-content .what-i-do .propositions .proposition .circle .icon {
  height: 60px;
}

.main-content .what-i-do .propositions .proposition .circle:after {
  content: '';
  position: absolute;
  bottom: -13px;
  left: 98px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #7ae6c6;
}

.main-content .what-i-do .propositions .proposition .description {
  margin-top: 17px;
}

@media (min-width: 820px) {
  .main-content .what-i-do .propositions .proposition .description {
    margin-top: 50px;
  }
}

.main-content .what-i-do .propositions .proposition .description .proposition-title {
  font-size: 20px;
  color: #1e1e1e;
}

@media (min-width: 820px) {
  .main-content .what-i-do .propositions .proposition .description .proposition-title {
    margin-bottom: 10px;
  }
}

.main-content .my-works {
  padding: 50px 15px;
  position: relative;
  background-color: white;
}

@media (min-width: 820px) {
  .main-content .my-works {
    padding: 100px 0;
  }
}

.main-content .my-works .wrapper {
  margin-top: 20px;
}

@media (min-width: 820px) {
  .main-content .my-works .wrapper {
    padding: 0 30px;
    margin-top: 100px;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(20%, 200px);
  }
}

@media (min-width: 1200px) {
  .main-content .my-works .wrapper {
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(20%, 200px);
    margin-top: 100px;
  }
}

.main-content .my-works .wrapper .item {
  background-size: 101%;
  background-position: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  height: 250px;
}

@media (min-width: 820px) {
  .main-content .my-works .wrapper .item {
    height: auto;
  }
}

.main-content .my-works .wrapper .item:hover {
  background-size: 102%;
}

.main-content .my-works .wrapper .item .work-title {
  width: 100%;
  text-align: center;
  font-size: 100px;
  color: white;
  font-weight: 700;
}

.main-content .my-works .wrapper .item .work-description {
  color: white;
  text-align: center;
  padding-top: 30px;
}

.main-content .my-works .wrapper .item .work-description .main-description {
  font-size: 30px;
  font-weight: 600;
}

.main-content .my-works .wrapper .item .work-description .extra-description {
  margin-top: 10px;
  font-size: 18px;
}

.main-content .my-works .wrapper .item .work-description .done {
  margin-top: 10px;
}

.main-content .my-works .wrapper .item .work-description .technologies {
  margin: 30px 0;
  height: 70px;
}

.main-content .my-works .wrapper .item .work-description .technologies .technology {
  margin-right: 10px;
  height: 55px;
  vertical-align: middle;
}

.main-content .my-works .wrapper .item .work-description .technologies .technology:hover {
  height: 57px;
}

.main-content .my-works .wrapper .item .work-description .technologies .technology:last-child {
  margin-right: 0;
}

.main-content .my-works .wrapper .item .work-description a {
  color: white;
}

.main-content .my-works .wrapper .item .work-description a:hover {
  text-decoration: underline;
}

.main-content .my-works .wrapper .one {
  background-image: url(../img/kortx.png);
  border: 1px solid #443bd7;
}

.main-content .my-works .wrapper .one:hover {
  -webkit-box-shadow: inset 0 0 0 210px #443bd7;
          box-shadow: inset 0 0 0 210px #443bd7;
}

.main-content .my-works .wrapper .one .work-title {
  padding-top: 50px;
}

@media (min-width: 820px) {
  .main-content .my-works .wrapper .one .work-title {
    padding-top: 118px;
  }
}

@media (min-width: 820px) {
  .main-content .my-works .wrapper .one {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
}

@media (min-width: 1200px) {
  .main-content .my-works .wrapper .one {
    grid-column: 1 / 3;
    grid-row: 1/3;
    background-image: url(../img/kortx.png);
    border: 1px solid #443bd7;
  }
  .main-content .my-works .wrapper .one:hover {
    -webkit-box-shadow: inset 0 0 0 210px #443bd7;
            box-shadow: inset 0 0 0 210px #443bd7;
  }
  .main-content .my-works .wrapper .one .work-title {
    padding-top: 118px;
  }
}

.main-content .my-works .wrapper .two {
  background-image: url(../img/crazyfatburn.png);
  border: 1px solid #26c0a5;
}

.main-content .my-works .wrapper .two:hover {
  -webkit-box-shadow: inset 0 0 0 210px #26c0a5;
          box-shadow: inset 0 0 0 210px #26c0a5;
}

.main-content .my-works .wrapper .two .work-title {
  font-size: 30px;
  color: #26c0a5;
  font-weight: 700;
  padding-top: 90px;
}

@media (min-width: 820px) {
  .main-content .my-works .wrapper .two .work-title {
    padding-top: 150px;
    font-size: 70px;
  }
}

@media (min-width: 820px) {
  .main-content .my-works .wrapper .two {
    grid-column: 2;
    grid-row: 1 / 3;
  }
}

@media (min-width: 1200px) {
  .main-content .my-works .wrapper .two {
    grid-column: 3 / 5;
    grid-row: 1/3;
    background-image: url(../img/crazyfatburn.png);
    border: 1px solid #26c0a5;
  }
  .main-content .my-works .wrapper .two:hover {
    -webkit-box-shadow: inset 0 0 0 210px #26c0a5;
            box-shadow: inset 0 0 0 210px #26c0a5;
  }
  .main-content .my-works .wrapper .two .work-title {
    font-size: 70px;
    color: #26c0a5;
    font-weight: 700;
    padding-top: 150px;
  }
}

.main-content .my-works .wrapper .three {
  background-image: url(../img/leaflux.png);
  background-size: 100%;
  border: 1px solid #7ae6c6;
}

.main-content .my-works .wrapper .three:hover {
  -webkit-box-shadow: inset 0 0 0 100px #7ae6c6;
          box-shadow: inset 0 0 0 100px #7ae6c6;
}

.main-content .my-works .wrapper .three .work-description {
  color: white;
  text-align: center;
  padding-top: 10px;
}

.main-content .my-works .wrapper .three .work-description .main-description {
  font-size: 25px;
  font-weight: 600;
}

.main-content .my-works .wrapper .three .work-description .extra-description {
  margin-top: 2px;
  font-size: 15px;
}

.main-content .my-works .wrapper .three .work-description .done {
  margin-top: 2px;
}

.main-content .my-works .wrapper .three .work-description .technologies {
  margin: 10px 0;
  height: 30px;
}

.main-content .my-works .wrapper .three .work-description .technologies .technology {
  margin-right: 10px;
  height: 25px;
  vertical-align: middle;
}

.main-content .my-works .wrapper .three .work-description .technologies .technology:hover {
  height: 26px;
}

.main-content .my-works .wrapper .three .work-description .technologies .technology:last-child {
  margin-right: 0;
}

.main-content .my-works .wrapper .three .work-description a {
  color: white;
}

.main-content .my-works .wrapper .three .work-description a:hover {
  text-decoration: underline;
}

@media (min-width: 820px) {
  .main-content .my-works .wrapper .three {
    grid-column: 1 / 2;
    grid-row: 3;
  }
}

@media (min-width: 1200px) {
  .main-content .my-works .wrapper .three {
    grid-column: 5;
    grid-row: 1;
    background-image: url(../img/leaflux.png);
    background-size: 100%;
    border: 1px solid #7ae6c6;
  }
  .main-content .my-works .wrapper .three:hover {
    -webkit-box-shadow: inset 0 0 0 100px #7ae6c6;
            box-shadow: inset 0 0 0 100px #7ae6c6;
  }
  .main-content .my-works .wrapper .three .work-description {
    color: white;
    text-align: center;
    padding-top: 10px;
  }
  .main-content .my-works .wrapper .three .work-description .main-description {
    font-size: 25px;
    font-weight: 600;
  }
  .main-content .my-works .wrapper .three .work-description .extra-description {
    margin-top: 2px;
    font-size: 15px;
  }
  .main-content .my-works .wrapper .three .work-description .done {
    margin-top: 2px;
  }
  .main-content .my-works .wrapper .three .work-description .technologies {
    margin: 10px 0;
    height: 30px;
  }
  .main-content .my-works .wrapper .three .work-description .technologies .technology {
    margin-right: 10px;
    height: 25px;
    vertical-align: middle;
  }
  .main-content .my-works .wrapper .three .work-description .technologies .technology:hover {
    height: 26px;
  }
  .main-content .my-works .wrapper .three .work-description .technologies .technology:last-child {
    margin-right: 0;
  }
  .main-content .my-works .wrapper .three .work-description a {
    color: white;
  }
  .main-content .my-works .wrapper .three .work-description a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 1500px) {
  .main-content .my-works .wrapper .three .work-description .extra-description {
    font-size: 18px;
  }
}

.main-content .my-works .wrapper .four {
  background-image: url(../img/yarandin.png);
  background-size: 100%;
  border: 1px solid #325ad3;
}

.main-content .my-works .wrapper .four:hover {
  -webkit-box-shadow: inset 0 0 0 100px #325ad3;
          box-shadow: inset 0 0 0 100px #325ad3;
}

.main-content .my-works .wrapper .four .work-description {
  color: white;
  text-align: center;
  padding-top: 10px;
}

.main-content .my-works .wrapper .four .work-description .main-description {
  font-size: 25px;
  font-weight: 600;
}

.main-content .my-works .wrapper .four .work-description .extra-description {
  margin-top: 2px;
  font-size: 18px;
}

.main-content .my-works .wrapper .four .work-description .done {
  margin-top: 2px;
}

.main-content .my-works .wrapper .four .work-description .technologies {
  margin: 10px 0;
  height: 30px;
}

.main-content .my-works .wrapper .four .work-description .technologies .technology {
  margin-right: 10px;
  height: 25px;
  vertical-align: middle;
}

.main-content .my-works .wrapper .four .work-description .technologies .technology:hover {
  height: 26px;
}

.main-content .my-works .wrapper .four .work-description .technologies .technology:last-child {
  margin-right: 0;
}

.main-content .my-works .wrapper .four .work-description a {
  color: white;
}

.main-content .my-works .wrapper .four .work-description a:hover {
  text-decoration: underline;
}

@media (min-width: 820px) {
  .main-content .my-works .wrapper .four {
    grid-column: 2;
    grid-row: 3;
  }
}

@media (min-width: 1200px) {
  .main-content .my-works .wrapper .four {
    grid-column: 5;
    grid-row: 2;
    background-image: url(../img/yarandin.png);
    background-size: 100%;
    border: 1px solid #325ad3;
  }
  .main-content .my-works .wrapper .four:hover {
    -webkit-box-shadow: inset 0 0 0 100px #325ad3;
            box-shadow: inset 0 0 0 100px #325ad3;
  }
  .main-content .my-works .wrapper .four .work-description {
    color: white;
    text-align: center;
    padding-top: 10px;
  }
  .main-content .my-works .wrapper .four .work-description .main-description {
    font-size: 25px;
    font-weight: 600;
  }
  .main-content .my-works .wrapper .four .work-description .extra-description {
    margin-top: 2px;
    font-size: 18px;
  }
  .main-content .my-works .wrapper .four .work-description .done {
    margin-top: 2px;
  }
  .main-content .my-works .wrapper .four .work-description .technologies {
    margin: 10px 0;
    height: 30px;
  }
  .main-content .my-works .wrapper .four .work-description .technologies .technology {
    margin-right: 10px;
    height: 25px;
    vertical-align: middle;
  }
  .main-content .my-works .wrapper .four .work-description .technologies .technology:hover {
    height: 26px;
  }
  .main-content .my-works .wrapper .four .work-description .technologies .technology:last-child {
    margin-right: 0;
  }
  .main-content .my-works .wrapper .four .work-description a {
    color: white;
  }
  .main-content .my-works .wrapper .four .work-description a:hover {
    text-decoration: underline;
  }
}

.main-content .my-works .portfolio .col {
  display: inline-block;
}

.main-content .my-works .portfolio .col.large {
  width: 38%;
}

.main-content .my-works .portfolio .col.small {
  width: 19%;
}

.main-content .my-works .portfolio .portfolio-item {
  position: relative;
  text-align: center;
  cursor: pointer;
}

.main-content .my-works .portfolio .portfolio-item .portfolio-image {
  width: 100%;
}

.main-content .my-works .portfolio .portfolio-item .name {
  position: absolute;
  top: 25%;
  font-weight: 700;
  width: 100%;
  text-shadow: 0 0 2px #fff;
}

.main-content .my-works .portfolio .portfolio-item.kortx .name {
  font-size: 150px;
  color: white;
}

.main-content .my-works .portfolio .portfolio-item.kortx .name img {
  height: 100px;
}

.main-content .my-works .portfolio .portfolio-item.crazyfatburn {
  height: 100%;
  margin-left: -4px;
  vertical-align: top;
}

.main-content .my-works .portfolio .portfolio-item.crazyfatburn .name {
  font-size: 70px;
  color: #29bab5;
  top: 41%;
}

.main-content .knowledges {
  background-color: white;
  position: relative;
  text-align: center;
  padding: 0 15px;
}

@media (min-width: 820px) {
  .main-content .knowledges {
    padding: 30px 20px 100px 20px;
  }
}

@media (min-width: 820px) {
  .main-content .knowledges .cloud {
    padding-top: 60px;
  }
}

.main-content .knowledges .cloud .svg-element {
  width: 100%;
  height: 300px;
}

@media (min-width: 820px) {
  .main-content .knowledges .cloud .svg-element {
    height: 450px;
  }
}

.main-content .footer {
  position: relative;
  text-align: center;
  padding: 0 0 40px 0;
}

@media (min-width: 1200px) {
  .main-content .footer {
    padding: 70px 0;
  }
}

.main-content .footer .contacts .propositions {
  margin-top: 55px;
}

.main-content .footer .contacts .propositions .proposition {
  display: inline-block;
  margin-right: 30px;
}

@media (min-width: 1200px) {
  .main-content .footer .contacts .propositions .proposition {
    margin-right: 200px;
  }
}

.main-content .footer .contacts .propositions .proposition:last-child {
  margin-right: 0;
}

.main-content .footer .contacts .propositions .proposition .circle {
  border: 1px solid white;
  border-radius: 50%;
  background-color: rgba(160, 160, 160, 0.3);
  position: relative;
  cursor: pointer;
  padding: 11px 12px 4px 12px;
}

@media (min-width: 1200px) {
  .main-content .footer .contacts .propositions .proposition .circle {
    padding: 80px 90px;
  }
}

.main-content .footer .contacts .propositions .proposition .circle .icon {
  height: 20px;
}

@media (min-width: 1200px) {
  .main-content .footer .contacts .propositions .proposition .circle .icon {
    height: 60px;
  }
}

.main-content .footer .contacts .propositions .proposition .circle:hover {
  background-color: rgba(160, 160, 160, 0.5);
  border-radius: 0;
}

.main-content .footer .contacts .propositions .proposition .circle:hover .icon {
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg);
}

/*tags*/
.st0 {
  font-size: 68px;
}

.st1 {
  font-size: 27px;
}

.st2 {
  font-size: 82px;
}

.st3 {
  font-size: 41px;
}

.st4 {
  font-size: 41px;
}

.st5 {
  fill: #808080;
}

.st6 {
  font-size: 24px;
}

.st7 {
  font-size: 24px;
}

.st8 {
  font-size: 62px;
}

.st9 {
  font-size: 86px;
}

.st10 {
  font-size: 18px;
}

.st11 {
  font-size: 18px;
}

.st12 {
  font-size: 25px;
}

.st13 {
  font-size: 25px;
}

.st14 {
  font-size: 25px;
}

.st15 {
  font-size: 32px;
}

.st16 {
  font-size: 32px;
}

.st17 {
  font-family: 'Open Sans';
  font-weight: 600;
  fill: #a0a0a0;
}

.st18 {
  font-size: 22px;
}

.st19 {
  font-size: 22px;
}

.st20 {
  font-size: 36px;
}

.st21 {
  font-size: 19px;
}

.st22 {
  font-size: 51px;
}

.st23 {
  font-size: 26px;
}

.st24 {
  font-size: 26px;
}

.st25 {
  font-size: 20px;
}

.st26 {
  font-size: 23px;
}

.st27 {
  font-size: 23px;
}

.st28 {
  font-family: 'Open Sans';
}

.st29 {
  font-size: 54px;
}

.st30 {
  font-size: 20px;
}

.st31 {
  font-size: 20px;
}
