@import url('https://fonts.googleapis.com/css?family=Cabin|Mukta');

$small-tablet-width: 820px;
$tablet-width: 1200px;
$laptop-width: 1500px;
$lage-laptop-width: 1920px;

@mixin small-tablet {
  @media (min-width: #{$small-tablet-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop-width}) {
    @content;
  }
}

$default-font: 'Mukta', sans-serif;
$title-font: 'Cabin', sans-serif;
$blue: #7ae6c6;
$light-blue: #d0f9f2;
$text-quote-blue: #42dabf;
$text-blue: #26c0a5;
$background-blue: #f3f3f3;
$text-color: #535353;
$dark-text-color: #1e1e1e;
$menu-font-size: 24px;
$header-background-1: #7c7e7e;

* {
  font-family: $default-font;
  //color: $text-color;
  transition: 0.5s;
}

a {
  text-decoration: none;
}

.default-text {
  color: $text-color;
}

.line {
  display: none;
  @include small-tablet {
    width: 45px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    display: inline-block;
    &.white {
      border-top: 2px solid white;
    }
    &.black {
      border-top: 2px solid $dark-text-color;
    }
  }
}
.wave {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 8px;
  background-color: white;
  .smallLine {
    position: absolute;
    width: 100%;
    height: 5px;
  }
  .smallLine1 {
    background: linear-gradient(45deg, transparent, transparent 49%, $text-blue 49%, transparent 51%);
  }
  .smallLine2 {
    background: linear-gradient(-45deg, transparent, transparent 49%, $text-blue 49%, transparent 51%);
  }
  .smallLine {
    background-size: 10px 10px;
  }
}
.title {
  color: $text-quote-blue;
  font-size: 20px;
  text-align: center;
  @include small-tablet {
    font-size: 40px;
  }
}
.text {
  margin-top: 10px;
  font-size: 16px;
  @include small-tablet {
    font-size: 20px;
  }
}

.btn {
  display: inline-block;
  padding: 10px 25px;
  cursor: pointer;
  &.transparent {
    color: white;
    border: 1px solid white;
    &:hover {
      color: $light-blue;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

header {
  position: relative;
  background-color: $header-background-1;
  height: 100vh;
  width: 100%;
  .image {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    img {
      width: 100%;
      height: 100vh;
      filter: blur(4px);
    }
  }
  .text-over {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: $title-font;
    .menu {
      margin-top: 10vh;
      position: relative;
      div {
        display: inline-block;
      }
      a {
        color: white;
      }
      .menu-item {
        font-size: 19px;
        position: relative;
        color: white;
        cursor: pointer;
        margin-right: 20px;
        @include small-tablet {
          margin-right: 50px;
          font-size: 24px;
        }
        &:hover {
          color: $light-blue;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .quote {
      color: $text-quote-blue;
      font-size: 20px;
      padding: 0 15px;
      margin-top: 15vh;
      @include small-tablet {
        font-size: 50px;
      }
    }
    .hire-me {
      margin-top: 10vh;
      font-size: 25px;
      color: white;
      margin-bottom: 3vh;
    }
    .send-message {
      margin-top: 4vh;
    }
  }
}


.main-content {
  .about {
    position: relative;
    background-color: $background-blue;
    text-align: center;
    padding: 70px 20px;
    .photo {
      .profile-photo {
        height: 250px;
        width: 250px;
        border-radius: 50%;
      }
    }
    .name {
      color: $text-blue;
      font-family: $title-font;
      font-size: 28px;
      margin-top: 16px;

      @include small-tablet {
        font-size: 40px;
        margin-top: 50px;
      }
    }
    .position {
      font-size: 20px;
      margin-top: 4px;
      @include small-tablet {
        margin-top: 20px;
      }
    }
    .location {
      margin-top: 20px;
      @include small-tablet {
        margin-top: 50px;
      }
      .icon {
        display: inline-block;
      }
      .place {
        font-size: 16px;
      }
    }
  }

  .what-i-do {
    text-align: center;
    padding: 50px 15px;
    position: relative;
    background-color: white;
    @include small-tablet {
      padding: 100px 20px;
    }
    .propositions {
      @include small-tablet {
        margin-top: 55px;
      }
      .proposition {
        margin-top: 40px;
        @include small-tablet {
          margin-top: 0;
          margin-right: 20px;
          display: inline-block;
        }
        @include tablet {
          margin-right: 200px;
        }
        &:last-child {
          margin-right: 0;
        }
        .circle {
          max-width: 55px;
          margin: auto;
          border-radius: 50%;
          background-color: $blue;
          padding: 80px 90px;
          position: relative;

          @include small-tablet {
            max-width: unset;
            margin: unset;
          }

          .icon {
            height: 60px;
          }
          &:after {
            content: '';
            position: absolute;
            bottom: -13px;
            left: 98px;
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid $blue;
          }
        }
        .description {
          margin-top: 17px;
          @include small-tablet {
            margin-top: 50px;
          }
          .proposition-title {
            font-size: 20px;
            color: $dark-text-color;
            @include small-tablet {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
  .my-works {
    padding: 50px 15px;
    position: relative;
    background-color: white;
    @include small-tablet {
      padding: 100px 0;
    }
    .wrapper {
      margin-top: 20px;

      @include small-tablet {
        padding: 0 30px;
        margin-top: 100px;
        grid-gap:  10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(20%, 200px);
      }

      @include tablet {
        padding: 0 30px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap:  10px;
        grid-auto-rows: minmax(20%, 200px);
        margin-top: 100px;
      }
      .item {
        background-size: 101%;
        background-position: center;
        transition: 0.2s;
        height: 250px;
        @include small-tablet {
          height: auto;
        }
        &:hover {
          background-size: 102%;
        }
        .work-title {
          width: 100%;
          text-align: center;
          font-size: 100px;
          color: white;
          font-weight: 700;
        }
        .work-description {
          color: white;
          text-align: center;
          padding-top: 30px;
          .main-description {
            font-size: 30px;
            font-weight: 600;
          }
          .extra-description {
            margin-top: 10px;
            font-size: 18px;
          }
          .done {
            margin-top: 10px;
          }
          .technologies {
            margin: 30px 0;
            height: 70px;
            .technology {
              margin-right: 10px;
              height: 55px;
              vertical-align: middle;
              &:hover {
                height: 57px;
              }
              &:last-child {
                margin-right: 0;
              }
            }
          }
          a {
            color: white;
            &:hover {
              text-decoration: underline;
            }
          }
        }

      }
      .one {
        background-image: url(../img/kortx.png);
        border: 1px solid #443bd7;
        &:hover {
          box-shadow: inset 0 0 0 210px #443bd7;
        }
        .work-title {
          padding-top: 50px;
          @include small-tablet {
            padding-top: 118px;
          }
        }

        @include small-tablet {
          grid-column: 1 / 2;
          grid-row: 1 / 3;
        }

        @include tablet {
          grid-column: 1 / 3;
          grid-row: 1/3;
          background-image: url(../img/kortx.png);
          border: 1px solid #443bd7;
          &:hover {
            box-shadow: inset 0 0 0 210px #443bd7;
          }
          .work-title {
            padding-top: 118px;
          }
        }
      }
      .two {
        background-image: url(../img/crazyfatburn.png);
        border: 1px solid $text-blue;
        &:hover {
          box-shadow: inset 0 0 0 210px $text-blue;
        }
        .work-title {
          font-size: 30px;
          color: $text-blue;
          font-weight: 700;
          padding-top: 90px;
          @include small-tablet {
            padding-top: 150px;
            font-size: 70px;
          }
        }
        @include small-tablet {
          grid-column: 2;
          grid-row: 1 / 3;
        }
        @include tablet {
          grid-column: 3 / 5;
          grid-row: 1/3;
          background-image: url(../img/crazyfatburn.png);
          border: 1px solid $text-blue;
          &:hover {
            box-shadow: inset 0 0 0 210px $text-blue;
          }
          .work-title {
            font-size: 70px;
            color: $text-blue;
            font-weight: 700;
            padding-top: 150px;
          }
        }
      }
      .three {
        background-image: url(../img/leaflux.png);
        background-size: 100%;
        border: 1px solid #7ae6c6;
        &:hover {
          box-shadow: inset 0 0 0 100px #7ae6c6;
        }
        .work-description {
          color: white;
          text-align: center;
          padding-top: 10px;
          .main-description {
            font-size: 25px;
            font-weight: 600;
          }
          .extra-description {
            margin-top: 2px;
            font-size: 15px;
          }
          .done {
            margin-top: 2px;
          }
          .technologies {
            margin: 10px 0;
            height: 30px;
            .technology {
              margin-right: 10px;
              height: 25px;
              vertical-align: middle;
              &:hover {
                height: 26px;
              }
              &:last-child {
                margin-right: 0;
              }
            }
          }
          a {
            color: white;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        @include small-tablet {
          grid-column: 1 / 2;
          grid-row: 3;
        }
        @include tablet {
          grid-column: 5;
          grid-row: 1;
          background-image: url(../img/leaflux.png);
          background-size: 100%;
          border: 1px solid #7ae6c6;
          &:hover {
            box-shadow: inset 0 0 0 100px #7ae6c6;
          }
          .work-description {
            color: white;
            text-align: center;
            padding-top: 10px;
            .main-description {
              font-size: 25px;
              font-weight: 600;
            }
            .extra-description {
              margin-top: 2px;
              font-size: 15px;
            }
            .done {
              margin-top: 2px;
            }
            .technologies {
              margin: 10px 0;
              height: 30px;
              .technology {
                margin-right: 10px;
                height: 25px;
                vertical-align: middle;
                &:hover {
                  height: 26px;
                }
                &:last-child {
                  margin-right: 0;
                }
              }
            }
            a {
              color: white;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
        @include laptop {
          .work-description {
            .extra-description {
              font-size: 18px;
            }
          }
        }

      }
      .four {
        background-image: url(../img/yarandin.png);
        background-size: 100%;
        border: 1px solid #325ad3;
        &:hover {
          box-shadow: inset 0 0 0 100px #325ad3;
        }
        .work-description {
          color: white;
          text-align: center;
          padding-top: 10px;
          .main-description {
            font-size: 25px;
            font-weight: 600;
          }
          .extra-description {
            margin-top: 2px;
            font-size: 18px;
          }
          .done {
            margin-top: 2px;
          }
          .technologies {
            margin: 10px 0;
            height: 30px;
            .technology {
              margin-right: 10px;
              height: 25px;
              vertical-align: middle;
              &:hover {
                height: 26px;
              }
              &:last-child {
                margin-right: 0;
              }
            }
          }
          a {
            color: white;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        @include small-tablet {
          grid-column: 2;
          grid-row: 3;
        }
        @include tablet {
          grid-column: 5;
          grid-row: 2;
          background-image: url(../img/yarandin.png);
          background-size: 100%;
          border: 1px solid #325ad3;
          &:hover {
            box-shadow: inset 0 0 0 100px #325ad3;
          }
          .work-description {
            color: white;
            text-align: center;
            padding-top: 10px;
            .main-description {
              font-size: 25px;
              font-weight: 600;
            }
            .extra-description {
              margin-top: 2px;
              font-size: 18px;
            }
            .done {
              margin-top: 2px;
            }
            .technologies {
              margin: 10px 0;
              height: 30px;
              .technology {
                margin-right: 10px;
                height: 25px;
                vertical-align: middle;
                &:hover {
                  height: 26px;
                }
                &:last-child {
                  margin-right: 0;
                }
              }
            }
            a {
              color: white;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    .portfolio {
      .col {
        display: inline-block;
        &.large {
          width:38%;
        }
        &.small {
          width:19%;
        }
      }
      .portfolio-item {
        position: relative;
        text-align: center;
        cursor: pointer;
        .portfolio-image {
          width: 100%;
        }
        .name {
          position: absolute;
          top: 25%;
          font-weight: 700;
          width: 100%;
          text-shadow: 0 0 2px #fff;
        }

        &.kortx {
          .name {
            img {
              height: 100px;
            }
            font-size: 150px;
            color: white;
          }
        }

        &.crazyfatburn {
          height: 100%;
          margin-left: -4px;
          vertical-align: top;
          .name {
            font-size: 70px;
            color: #29bab5;
            top: 41%;
          }
        }
      }
    }
  }

  .knowledges {
    background-color: white;
    position: relative;
    text-align: center;
    padding: 0 15px;
    @include small-tablet {
      padding: 30px 20px 100px 20px;
    }

    .cloud {

      @include small-tablet {
        padding-top: 60px;
      }
      .svg-element {
        width: 100%;
        height: 300px;
        @include small-tablet {
          height: 450px;
        }
      }
    }
  }

  .footer {
    position: relative;
    text-align: center;
    padding: 0 0 40px 0;
    @include tablet {
      padding: 70px 0;
    }
    .contacts {
      .propositions {
        margin-top: 55px;
        .proposition {
          display: inline-block;
          margin-right: 30px;
          @include tablet {
            margin-right: 200px;
          }
          &:last-child {
            margin-right: 0;
          }
          .circle {
            border: 1px solid white;
            border-radius: 50%;
            background-color: rgba(160,160, 160, 0.3);
            position: relative;
            cursor: pointer;
            padding: 11px 12px 4px 12px;
            @include tablet {
              padding: 80px 90px;
            }
            .icon {
              height: 20px;
              @include tablet {
                height: 60px;
              }
            }
            &:hover {
              //background-color: rgba(122, 230, 198, 0.7);
              background-color: rgba(160,160, 160, 0.5);
              border-radius: 0;
              .icon {
                transform: rotateX(360deg);
              }
            }
          }
        }
      }
    }
  }
}

/*tags*/
.st0 {
  font-size: 68px;
}

.st1 {
  font-size: 27px;
}

.st2 {
  font-size: 82px;
}

.st3 {
  font-size: 41px;
}

.st4 {
  font-size: 41px;
}

.st5 {
  fill: #808080;
}

.st6 {
  font-size: 24px;
}

.st7 {
  font-size: 24px;
}

.st8 {
  font-size: 62px;
}

.st9 {
  font-size: 86px;
}

.st10 {
  font-size: 18px;
}

.st11 {
  font-size: 18px;
}

.st12 {
  font-size: 25px;
}

.st13 {
  font-size: 25px;
}

.st14 {
  font-size: 25px;
}

.st15 {
  font-size: 32px;
}

.st16 {
  font-size: 32px;
}

.st17 {
  font-family: 'Open Sans';
  font-weight: 600;
  fill: #a0a0a0;
}

.st18 {
  font-size: 22px;
}

.st19 {
  font-size: 22px;
}

.st20 {
  font-size: 36px;
}

.st21 {
  font-size: 19px;
}

.st22 {
  font-size: 51px;
}

.st23 {
  font-size: 26px;
}

.st24 {
  font-size: 26px;
}

.st25 {
  font-size: 20px;
}

.st26 {
  font-size: 23px;
}

.st27 {
  font-size: 23px;
}

.st28 {
  font-family: 'Open Sans';
}

.st29 {
  font-size: 54px;
}

.st30 {
  font-size: 20px;
}

.st31 {
  font-size: 20px;
}
